<%- include("partials/header.ejs"); %>

<div class="main">
  
  <div class="main-Box">
    <% data.forEach(item => { %> <% let itemName = _.lowerCase(item.topicName)
    %>
    <div class="item">
      <a href="/<%=itemName %>">
        <div class="image">
          <img src="/assets/images/<%= itemName%>.png" alt="<%=itemName%>" />
        </div>
        <div class="name">
          <div class="dsName">
            <h3 class="itemName"><%=itemName%></h3>
          </div>
          <div class="dsInfo">
            <p class="questionCount">
              Total Questions: <%=item.questions.length%>
            </p>
            <p class="progres">Progress:<input type="range" /></p>
          </div>
          <div class="dsDef">
            <p class="paraContent"><%=item.description%></p>
          </div>
        </div>
      </a>
    </div>
    <% }); %>
  </div>
</div>

<%- include("partials/footer.ejs"); %>

<!--<div class="item">
      <a href="/array">
        <div class="image">
          <img src="/assets/images/array.png" alt="Array" />
        </div>
        <div class="name">
          <div class="dsName">
            <h3>Array</h3>
          </div>
          <div class="dsDef">
            <h6>Total Questions : 36</h6>
            <p>
              An array is a collection of items of same data type stored at
              contiguous memory locations.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="item matrix">
      <a href="/matrix">
        <div class="image">
          <img src="/assets//images/matrix.png" alt="Matrix" />
        </div>
        <div class="name">
          <h3>Matrix</h3>
          <p>
            A matrix represents a collection of numbers arranged in an order of
            rows and columns.
          </p>
        </div>
      </a>
    </div>
    <div class="item string">
      <a href="/string">
        <div class="image">
          <img src="/assets/images/string.png" alt="String" />
        </div>
        <div class="name">
          <h3>String</h3>
          <p>
            A string is a sequence of characters, stored in contiguous memory
            locations, terminated by a special character called the null
            character '\0'.
          </p>
        </div>
      </a>
    </div>
    <div class="item searchAndSort">
      <a href="/search_sort">
        <div class="image">
          <img src="/assets/images/searchAndSort.png" alt="Search And Sort" />
        </div>
        <div class="name">
          <h3>Search And Sort</h3>
          <p>
            Approx 43 different sorting algorithms. Quick sort, Merge Sort,
            Shell sort, Bubble Sort, Pigeonhole sort, Heap Sort, Count sort,
            Radix sort, and many more.
          </p>
        </div>
      </a>
    </div>
    <div class="item linkedList">
      <a href="/linked_list">
        <div class="image">
          <img src="/assets/images/linkedList.png" alt="Linked List" />
        </div>
        <div class="name">
          <h3>Linked List</h3>
          <p>
            A linked list consists of nodes where each node contains a data
            field and a reference(link) to the next node in the list.
          </p>
        </div>
      </a>
    </div>
    <div class="item stack">
      <a href="/stack">
        <div class="image">
          <img src="/assets/images/stack.png" alt="Stack" />
        </div>
        <div class="name">
          <h3>Stack</h3>
          <p>
            A stack is a linear data structure that follows a particular order
            in which the operations are performed. The order may be LIFO(Last In
            First Out) or FILO(First In Last Out).
          </p>
        </div>
      </a>
    </div>
    <div class="item queue">
      <a href="/queue">
        <div class="image">
          <img src="/assets/images/queue.png" alt="Queue" />
        </div>
        <div class="name">
          <h3>Queue</h3>
          <p>
            A Queue is defined as a linear data structure that is open at both
            ends and the operations are performed in First In First Out (FIFO)
            order.
          </p>
        </div>
      </a>
    </div>
    <div class="item binaryTree">
      <a href="/trees">
        <div class="image">
          <img src="/assets/images/binaryTree.png" alt="Binary Tree" />
        </div>
        <div class="name">
          <h3>Tree</h3>
          <p>
            Tree Data Structure is a hierarchical data structure in which a
            collection of elements known as nodes are connected to each other
            via edges such that there exists exactly one path between any two
            nodes.
          </p>
        </div>
      </a>
    </div>
    <div class="item heaps">
      <a href="/heap">
        <div class="image">
          <img src="/assets/images/heaps.png" alt="Heaps" />
        </div>
        <div class="name">
          <h3>Heaps</h3>
          <p>
            A Heap is a special case of balanced binary tree data structure
            where the root-node key is compared with its children and arranged
            accordingly.
          </p>
        </div>
      </a>
    </div>
    <div class="item greedy">
      <a href="/greedy">
        <div class="image">
          <img src="/assets/images/greedy.png" alt="Greedy Algo" />
        </div>
        <div class="name">
          <h3>Greedy Algorithm</h3>
          <p>
            A greedy algorithm is an algorithmic paradigm that follows the
            problem-solving heuristic of making the locally optimal choice at
            each stage with the hope of finding a global optimum.
          </p>
        </div>
      </a>
    </div>
    <div class="item dp">
      <a href="/dynamic_programming">
        <div class="image">
          <img src="/assets/images/dp.png" alt="Dp" />
        </div>
        <div class="name">
          <h3>Dyanmic Programming</h3>
          <p>
            Dynamic Programming (DP) is defined as a technique that solves some
            particular type of problems in Polynomial Time. Dynamic Programming
            solutions are faster than the exponential brute method and can be
            easily proved their correctness.
          </p>
        </div>
      </a>
    </div>
    <div class="item graph">
      <a href="/graph">
        <div class="image">
          <img src="/assets/images/graph.png" alt="Graph" />
        </div>
        <div class="name">
          <h3>Graph</h3>
          <p>
            A Graph is a non-linear data structure consisting of vertices and
            edges. The vertices are sometimes also referred to as nodes and the
            edges are lines or arcs that connect any two nodes in the graph.
            More formally a Graph is composed of a set of vertices( V ) and a
            set of edges( E ). The graph is denoted by G(E, V).
          </p>
        </div>
      </a>
    </div> -->
