<%- include("partials/header.ejs"); %>

<div class="main">
  <div class="main-Box">
    <% data.forEach(item => { %> <% let itemName = item.topicName
    %>
    <div class="item">
      <a href="/<%=itemName %>">
        <div class="image">
          <img src="/assets/images/<%= itemName%>.png" alt="<%=itemName%>" />
        </div>
        <div class="name">
          <div class="dsName">
            <h3 class="itemName"><%=itemName%></h3>
          </div>
          <div class="dsInfo">
            <p class="questionCount">
              Total Questions: <%=item.questions.length%>
            </p>
            <div class="progress-container">
              <% var percentQuesDone = (item.doneQuestions *
              100)/item.questions.length %> <% if(percentQuesDone != 0) {%>
              <p class="progress">Done: <%= item.doneQuestions%></p>
              <div class="pgr">
                <progress class="progress-bar" value="0"></progress>
                <div
                  style="--percentQuesDone: <%= (percentQuesDone) %>%"
                  class="inner-progress"
                >
                  <span class="percentValue"
                    ><%=Math.trunc(percentQuesDone)%>%</span
                  >
                </div>
              </div>
              <% }else { %>
              <p>Not yet started</p>
              <% } %>
            </div>
          </div>
          <div class="dsDef">
            <p class="paraContent"><%=item.description%></p>
          </div>
        </div>
      </a>
    </div>
    <% }); %>
  </div>
</div>

<%- include("partials/footer.ejs"); %>
