<%- include("partials/header.ejs") %>

<div class="sheet-Body">
  <div class="header">
    <h2><%=dataStructure.topicName %></h2>
  </div>

  <div class="body">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Questions</th>
          <th>Links</th>
        </tr>
      </thead>
    </table>
    <% dataStructure.questions.forEach((item, count=0) => {%>
    <table>
      <tbody>
        <tr>
          <td><h4><%= ++count %></h4></td>
          <td><h4><%=item.Problem%></h4></td>
          <td>
            <a href="<%=item.URL%>" target="_blank"><%=item.Problem%> </a>
          </td>
        </tr>
      </tbody>
    </table>

    <% }); %>
  </div>
</div>

<%- include("partials/footer.ejs") %>
