<%- include("partials/header.ejs") %>

<div class="sheet-Main">
  <div class="sheet-Main-Box">
    <div class="header">
      <h1>DSA CRACKER</h1>
      <h2><a href="/">Topics</a> / <%=dataStructure.topicName %></h2>
    </div>

    <div class="body">
      <div class="table-Body">
        <table>
          <thead>
            <!-- <tr> -->
            <th class="cb"></th>
            <th class="id">id</th>
            <th class="questions">Questions</th>
            <th class="links">Links</th>
            <!-- </tr> -->
          </thead>
        </table>
        <% dataStructure.questions.forEach((item, count=0) => {%>
        <table>
          <tbody>
            <!-- <tr> -->
            <form action="updatedSheet" method="post">
              <td class="cb">
                <input
                  type="checkbox"
                  name="checkedQues"
                  value="<%= JSON.stringify({ topic: item.Topic, name: item.Problem, link1: item.URL, link2: item.URL2 }) %>"
                  onchange="this.form.submit()"
                />
                <input
                  type="hidden"
                  name="uncheckedQues"
                  value="<%= JSON.stringify({ topic: item.Topic, name: item.Problem, link1: item.URL, link2: item.URL2 }) %>"
                />
              </td>
            </form>
            <td class="id"><h4><%= ++count %></h4></td>
            <td class="questions">
              <h4>
                <a href="<%=item.URL%>" target="_blank"><%=item.Problem%></a>
              </h4>
            </td>
            <td class="links">
              <% icon = item.URL.includes('geeksforgeeks') ?
              '/assets/icons/geeksforgeeks.png' : '/assets/icons/leetcode.png'
              %>
              <a href="<%=item.URL%>" target="_blank"
                ><img src="<%=icon%>" alt="icon"
              /></a>
              <% if(item.URL2 !== "") { %>
              <a href="<%=item.URL2%>" target="_blank"
                ><img src="/assets/icons/codingNinja.png" alt="icon"
              /></a>
              <% } %>
            </td>
            <!-- </tr> -->
          </tbody>
        </table>

        <% }); %>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
